__pycache__/
*.py[cod]
*$py.class


venv/
env/
.venv/
.env


.ipynb_checkpoints/


.vscode/



.streamlit/



.mypy_cache/
.pytest_cache/



datasets/
documents/

models/CNN/
models/YOLO/dataset_check/
models/YOLO/yolov8n_weed_detector/extra/
models/YOLO/extra/
models/FasterRCNN/
models/ViT/

notebooks/runs/

*.tmp
*.log
.DS_Store
Thumbs.db


outputs/
results/
logs/

test.py

